
<div class="container" *ngIf="employeeList">
    <h4 style="text-align: center;">Employees-list</h4><br>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th scope="col"># ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email </th>
                <th scope="col">Gender </th>
                <th scope="col">DOB</th>
                <th scope="col">Salary</th>
                <th scope="col">Project Ids</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="employeeList.statusCode==200">
            <tr *ngFor="let emp of employeeList.data">
                <th scope="row">{{emp.id}}</th>
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.dob}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.projectIds}}</td>
                <td><span *ngIf="emp.address">{{emp.address.street}}</span></td>
                <td><a [routerLink]="['/edit-employee', emp.id]"><button class="btn btn-primary">Edit</button></a>
                    &nbsp; <button class="btn btn-danger" (click)="deleteEmp(emp.id)">Delete</button></td>
            </tr>
            <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
    </table>
</div>