
<div class="container">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="username"[(ngModel)]="user.username">
            <!-- [(ngModel)]="employee.firstName"> -->
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" aria-describedby="password" [(ngModel)]="user.password">
            <!-- [(ngModel)]="employee.lastName"> -->
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="getToken()">Login</button>
    
    
</div>
{{user.username}} - {{user.password}}
